@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

body{
    font-family: 'Hedvig Letters Serif', serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 1.5%;

    background-color: rgb(29, 33, 37);
    color: beige;
}

h1{
    display: flex;
    justify-content: center;
    font-family: 'Cinzel', serif;
    font-size: 60px;

    color:red
}

.main-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dice-table{
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}

.dice-table th{
    background-color: rgb(73, 73, 73);
    font-weight: 400;    
}
.dice-table td{
    background-color: rgb(99, 99, 99);
}